<% if @customer.errors.any? %>
  <div class = "alert">
    <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

 <div class="container">

    <div class="row">
      <div class="col-3 mt-5">
        <h5 class="text-center bg-light">会員情報編集</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mt-3">
        <%= form_with(model:@customer, url:customer_path, local:true) do |f| %>
        <form>
          <div class="form-group col-xs-9">
            <%= f.label :氏名,class: "col-sm-2" %>
             <%= f.text_field :first_name, autofocus: true, :placeholder => "令和" %>
             <%= f.text_field :last_name, autofocus: true, :placeholder => "道子" %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :フリガナ, class: "col-sm-2"%>
            <%= f.text_field :first_name_kana, autofocus: true, :placeholder => "レイワ" %>
            <%= f.text_field :last_name_kana, autofocus: true, :placeholder => "ミチコ" %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :郵便番号, class: "col-sm-2" %>
            <%= f.text_field :post_code, autofocus: true, :placeholder => "0000000" %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :住所, class: "col-sm-2" %>
            <%= f.text_field :address, autofocus: true, :placeholder => "東京都渋谷区代々木神園町0-0", class: "col-sm-7 pl-0" %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :電話番号, class: "col-sm-2" %>
            <%= f.text_field :tel, autofocus: true, :placeholder => "0000000000" %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :メールアドレス, class: "col-sm-2" %>
            <%= f.email_field :email, autofocus: true, :placeholder => "sample@example.com" %>
          </div>

          <div class="col-12">
            <div>
              <%= f.submit "編集内容を保存", class: 'btn btn-success offset-2' %>
              <%= link_to '退会する', unsubscribe_customers_path, class: "btn btn-danger offset-3" %>
            </div>
          </div>
          <% end %>
        </form>
      </div>
    </div>

  </div>
