<div class="container">
  <div class="row">
    <div class="col-3 mt-3 mb-3">
      <h5 class="text-center bg-light">マイページ</h5>
    </div>
  </div>
  <div class="row">
    <h5 class="font-weight-bold">登録情報</h5>
    <div class="offset-1">
      <%= link_to '編集する', edit_customer_path(@customer), class: "btn btn-sm btn-success" %>
    </div>
  </div>
  <div class="row mt-2 mb-4">
    <table class="table-bordered col-6">
      <tr>
        <th class="bg-light" style="width: 25%">氏名</td>
        <td><%= @customer.first_name %> <%= @customer.last_name %></td>
      </tr>
      <tr>
        <th class="bg-light">カナ</td>
        <td><%= @customer.first_name_kana %> <%= @customer.last_name_kana %></td>
      </tr>
      <tr>
        <th class="bg-light">郵便番号</td>
        <td><%= @customer.post_code %></td>
      </tr>
      <tr>
        <th class="bg-light">住所</td>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <th class="bg-light">電話番号</td>
        <td><%= @customer.tel %></td>
      </tr>
      <tr>
        <th class="bg-light">メールアドレス</td>
        <td><%= @customer.email %></td>
      </tr>
    </table>
  </div>
  <div class="row">
    <h5>配送先</h5>
    <div class="offset-1">
    <%= link_to '一覧を見る', shipping_addresses_path, class: "btn btn-sm btn-primary" %>
    </div>
  </div>
  <div class="row mt-2">
    <h5>注文履歴</h5>
  <div class="offset-1">
    <%= link_to '一覧を見る', orders_path, class: "btn btn-sm btn-primary" %>
  </div>
</div>