<div class="container">
  <div class="row mt-4">
    <div class="col-3 mt-3 mb-3">
      <h5 class="text-center bg-light">注文情報入力</h5>
    </div>
    <div class="col-12">
      <%= form_with model: @order, url: confirm_orders_path, method: :post, local: true do |f| %>
            <h5>支払方法</h5>
            <div class="row">
              <div class="col-1"></div>
            <div class="col-8">
              <%= f.radio_button :payment_method, :クレジットカード, checked: "checked" %>
              <%= f.label :payment_method, "クレジットカード" %>
            </div>
            </div>
            <div class="row">
              <div class="col-1"></div>
            <div class="col-8">
              <%= f.radio_button :payment_method, :銀行振込 %>
              <%= f.label :payment_method, "銀行振込" %>
            </div>
            </div>
        <h5>お届け先</h5>
          <div class="row">
              <div class="col-1"></div>
            <div class="col-8">
              <%= f.radio_button :address_option, 0, checked: "checked" %>
              <%= f.label :shipping_address, 'ご自身の住所', value: 0 %>
            </div>
          </div>
            <div class="row">
            <div class="col-1"></div>
          <div class="col-8">
            〒<%= @customer.post_code %>
              <%= @customer.address %>
          </div>
          </div>
          <div class="row">
            <div class="col-1"></div>
          <div class="col-8">
            <%= @customer.first_name %>
            <%= @customer.last_name %>
          </div>
          </div>
        <div class="row mt-3">
            <div class="col-1"></div>
          <div class="col-8">
            <%= f.radio_button :address_option, 1 %>
            <%= f.label :配送先, '登録先住所から選択', value: 1 %>
          </div>
          </div>
        <div class="row">
            <div class="col-1"></div>
          <div class="col-8">
            <%= f.select :address, options_from_collection_for_select(@customer.shipping_addresses.all, :id, :shipping_address_display),class:"form-control", class:"col-8"%>
          </div>
        </div>
        <div class="row mt-3">
            <div class="col-1"></div>
          <div class="col-8">
            <%= f.radio_button :address_option, 2 %>
            <%= f.label :配送先, '新しいお届け先', value: 2 %>
          </div>
          </div>
        <div class="row">
            <div class="col-1"></div>
          <div class="col-8">
            <%= f.label :shipping_post_code, "郵便番号（ハイフンなし）" ,class:"col-4" %>
            <%= f.text_field :shipping_post_code,:placeholder => "0000000" %>
          </div>
          </div>
        <div class="row">
            <div class="col-1"></div>
          <div class="col-8">
            <%= f.label :shipping_address, "住所" ,class:"col-4" %>
            <%= f.text_field :shipping_address,:placeholder => "東京都渋谷区代々木神園町0-0" ,class:"col-6 pl-0" %>
          </div>
          </div>
          <div class="row">
            <div class="col-1"></div>
          <div class="col-8">
            <%= f.label :shipping_name, "宛名"  ,class:"col-4" %>
            <%= f.text_field :shipping_name,:placeholder => "令和道子"%>
          </div>
          </div>
      <div class="text-center">
      <%= f.submit "確認画面へ進む",class: "btn btn-sm btn-primary mt-5" %>
      </div>
      <% end %>
      </div>
      </div>
    </div>
