<div class="container my-5">
  <div class="row">
    <div class="col-2 offset-1 text-center">
      <div style="background-color: #EEEEEE"><h2>ログイン</h2></div>
    </div>
  </div>

  <div class="row">
    <div class="col-3 offset-2 text-center mt-5">
     <div style="background-color: #EEEEEE"><p>会員の方はこちらからログイン</p></div>
    </div>
  </div>
  <%= form_with model: @customer, url: customer_session_path do |f| %>
  <table class="col-10 mt-5">
    <tr>
      <th>
        <%= f.label :"メールアドレス",class:"form-label mt-3 offset-7"%>
      </th>
      <th>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control col-8 offset-2" %>
      </th>
    </tr>
    <tr>
      <th>
        <%= f.label :"パスワード",class:"form-label mt-3 offset-7" %>
      </th>
      <th>
        <%= f.password_field :password, autocomplete: "current-password",class:"form-control col-8 offset-2" %>
      </th>
    </tr>
    <tr>
      <th></th>
      <th>
        <%= f.submit "ログイン",class:"btn btn-primary mt-5 mb-5 col-5 offset-2" %>
      </th>
    </tr>
    <% end %>
  </table>

  <div class="row">
    <div class="col-3 offset-2 text-center mt-5">
     <div style="background-color: #EEEEEE"><p>会員登録がお済みでない方</p></div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
     <div><%= render "public/shared/links" %></div>
    </div>
  </div>
</div>
