<div class="container">
  <div class="row">

      <div>
        <%= image_tag @items.item_image, size:"300x300" %>
      </div>
      <div>
        <%= form_with model: @cart_item, url: cart_items_path, local: true do |f| %>
            <%= f.hidden_field :item_id, value: @items.id %>
          <h3>
            <%= @items.item_name %>
          </h3>
          <h4>
            <%= @items.item_explanation %>
          </h4>
          <h3>
            ￥<%= @items.add_tax_price.to_s(:delimited) %>
          </h3>

          <%= f.select :amount, *[1..10], include_blank: '個数選択' %>
          <%= f.submit "カートに入れる" %>
        <% end %>
      </div>

  </div>
</div>

